services:
  - type: web
    name: ezezchatbot
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: PUBLIC_URL
        sync: false
      - key: NODE_ENV
        value: production
      - key: PORT
        value: "10000"